@media(max-width:1024px){
    .fp-section.fp-table, .fp-slide.fp-table, .fp-tableCell{
        height: auto !important;
    }
    .fp-section.fp-table{
        padding: 80px 0px !important;
    }
    .hero-section{
        min-height: 100vh;
    }
    section.fp-section.discover-more-section{
        padding-bottom: 0px !important;
    }
    .dark-abstract{
        background-position:right top ,left bottom;
        background-size: 25%, 25%;
    
    }
}
@media(max-width:992px){
    .page-internal {
        padding-top: 60px;
    }
        
    .section-heading h1 {
        font-size: 2.5rem;
        line-height: 1;
    }
    .mission-section::before{
        display: none;
    }
    .img-right-lg{
        order: -1;
    }
    .navbar-brand img{
        width: 180px;
    }
    
    .enquire-now-form {
        top: 94px;
    }
    .testimonial-quote p {
        font-size: 16px;
    }
    .testimonial-quote {
        padding-bottom: 42px;
        padding-top: 42px;
    }
    .testimonial-quote::before, .testimonial-quote::after {
        height: 38px;
        width: 38px;
    }
    .textimonial-items {
        min-height: 370px;
    }
}
@media(max-width:768px){
    .slick-next {
        right: 0px;
    }
    .slick-prev {
        left: 0px;
    }
    .slick-control .btn img {
        width: 27px;
    }
    .slick-prev, .slick-next {
        height: 28px;
        width: 28px;
        font-size: 12px;
    }
    .testimonial-thumb img {
        width: 75px;
    }
    .discover-thumb-item img {
        height: 300px;
    }
    .discover-thumb-item {
        max-width: 500px;
        margin: auto;
        margin-bottom: 30px;
    }
    .popular-course-item {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .testimonial-thumb {
        position: relative;
        padding-left: 26px;
        padding-right: 9px;
    }
    .testimonial-quote p {
        font-size: 14px;
    }
}
@media(max-width:576px){
    .about-img img {
        width: 238px;
    }
    .admission-banner span {
        font-size: 1.3rem;
    }
    .admission-banner .icon img{
        width: 30px;
    }
    .testimonial-thumb{
        display: none;
    }
   
    
    .banner-links a {
        font-size: 18px;
    }
    .testimonial-content > div {
        max-width: 100%;
        flex-basis: 100%;
    }
}
@media(max-width:468px){
    
    .about-img img {
        width: 190px;
    }
}