/* Fonts Familiy */
@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton/CAMPTONTHIN.OTF') format('opentype');
    font-weight: 100;
 }
 @font-face {
   font-family: 'Campton';
   src: url('../fonts/campton/CAMPTONEXTRALIGHT.OTF') format('opentype');
   font-weight: 200;
}
@font-face {
    font-family: 'Campton';
    src: url('../fonts/campton/CAMPTONLIGHT.OTF') format('opentype');
    font-weight: 300;
 }
 @font-face {
    font-family: 'Campton';
    src: url('../fonts/campton/CAMPTONBOOK.OTF') format('opentype');
    font-weight: 400;
 }
 @font-face {
    font-family: 'Campton';
    src: url('../fonts/campton/CAMPTONMEDIUM.OTF') format('opentype');
    font-weight: 500;
 }
 @font-face {
    font-family: 'Campton';
    src: url('../fonts/campton/CAMPTONSEMIBOLD.OTF') format('opentype');
    font-weight: 600;
 }
 @font-face {
    font-family: 'Campton';
    src: url('../fonts/campton/CAMPTONEXTRABOLD.OTF') format('opentype');
    font-weight: 700;
 }
 @font-face {
    font-family: 'Campton';
    src: url('../fonts/campton/CAMPTONBLACK.OTF') format('opentype');
    font-weight: 800;
 }
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas/BEBAS-REGULAR.TTF') format('opentype');
 }
 .campton{
    font-family: 'Campton'; 
}
.bebas{
    font-family: 'Bebas';
}
.raleway{
    font-family: 'Raleway', sans-serif;
}
.poppins
{
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Campton';
    overflow-x: hidden !important;
}
p{
    text-align: justify;
}

/* Colors */
.bg-primary{
    background-color: #2b2873 !important;
}
.bg-secondary{
    background-color: #ffca05 !important;
}
.bg-yellow{
    background-color: #FBB03B !important;

}
.text-dark{
    color: #000 !important;
}
.text-primary{
    color: #2b2873 !important;
}
.text-secondary{
    color: #ffca05 !important;
}
.bg-danger{
    background-color: red !important;
}
.text-danger{
    color: red;
}
.bg-gray{
    background-color: #d6d6d6 !important;
}


/* Fonts */
.f-12{
    font-size: 12px !important;
}
.f-18{
    font-size: 18px !important;
}
.f-20{
    font-size: 20px !important;
}
.f-18{
    font-size: 18px !important;
}
.f-20{
    font-size: 20px !important;
}
.f-14{
    font-size: 14px !important;
}
.f-28{
    font-size: 28px !important;
}

.font-semibold{
    font-weight: 600;
}

/* Utility */
.hidden{
    opacity: 0;
    pointer-events: none;
}
.object-fit-cover{
    object-fit: cover;
}



/* Arrow List */
.arrow-list li {
    background-image: url(../images/icon/double-arrow.svg);
    background-position: left top 4px;
    background-size: 10px;
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-bottom: 10px;
}


/* Boxed Bullet */
.boxed-bullet li {
    position: relative;
    padding-left: 21px;
    margin-bottom: 5px;
}
.boxed-bullet li::before {
    height: 8px;
    width: 8px;
    background-color: #ffca05;
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
}

/* Buttons */
.btn{
    border-radius: 0px;
}
.btn-primary{
    background-color: #2b2873 !important;
    border-color: #2b2873;
    color: #ffca05;
}

.btn-secondary{
    background-color: #ffca05;
    border-color: #ffca05;
    color: #2b2873;
}
.btn-danger {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-outline-primary {
    color: #2b2873;
    border-color: #2b2873;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #2b2873;
    border-color: #2b2873;
}
.btn-outline-primary.focus, .btn-outline-primary:focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgb(43 40 115 / 13%);
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #211e5e;
    border-color: #211e5e;
}
.btn {
    font-size: 14px;
    font-weight: 600;
}
.btn-rounded{
    border-radius: 30px;
}
 a.bg-primary:focus, 
 a.bg-primary:hover, 
 button.bg-primary:focus, 
 button.bg-primary:hover {
    background-color: #ffca05!important;
}
.contact-btn .btn{
    min-width: 150px;
}

.btn-know-more {
    border: 1px solid #2b2873;
    color: #2b2873;
}
.btn-know-more:hover {
    background-color: #FBB03B;
    border-color: #fbb03b;
}

/* Navigation Header */
.navbar,.top-navbar  {
    box-shadow: 0px 3px 5px #05061469;
}
.top-navbar{
    z-index: 1;
}

.top-nav .btn {
    font-size: 10px;
    font-weight: 700;
    min-width: 100px;
    padding: 3px 9px 0px 9px;
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
    color: #ffca05 ;
}
.navbar-dark .navbar-nav .active>.nav-link{
    color: #ffca05 ;
}
nav.navbar {
    background-color: #2b2873f5;
}
nav.navbar.nav-active{
    background-color: #2b2873;
}
.helpline span {
    border: 1px solid #2b2873;
    padding: 4px 10px 0px 10px;
    border-radius: 23px;
    line-height: 19px;
    font-size: 15px;
}
.offcanvas-header{ display:none; }
.screen-overlay {
  height: 100%;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  opacity:0;
  visibility:hidden;
  background-color: rgba(34, 34, 34, 0.6);
  transition:opacity .2s linear, visibility .1s, width 1s ease-in;
}
.screen-overlay.show {
  transition:opacity .5s ease, width 0s;
  opacity:1;
  width:100%;
  visibility:visible;
}
	
@media all and (max-width:1200px) { 

 .offcanvas-header{ display:block; }
 
 .mobile-offcanvas {
    visibility: hidden;
    transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1200;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
}

  .mobile-offcanvas.show{
    visibility: visible;
    transform: translateX(0);
  }
}

@media (min-width: 992px){
    .dropdown-menu {
        border-radius: 0px;
        background-color: #ffca05;
    }
    .dropdown-menu:not(.submenu):before {
        content: "";
        height: 0px;
        width: 0px;
        border-width: 9px;
        border-style: solid;
        border-color: transparent;
        border-bottom-color: #ffca05;
        display: block;
        position: absolute;
        bottom: 100%;
        left: 20px;
    }
     .dropdown-item {
        padding: 8px 12px;
        font-size: 14px;
        color: #2b2873;
        font-weight: 600;
        border-bottom: 1px solid #2b28731c;
    }
    .dropdown-menu li:last-child > .dropdown-item{
        border-bottom: none;
    }
    .dropdown-item:focus, .dropdown-item:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: #2b2873;
    }
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}




.enquire-now-form {
    right: 0px;
    top: 130px;
    z-index: 100;
    width: 280px;
    transition: all ease-out 300ms;
}
.toggle-btn {
    top: 15%;
    right: calc(100% + 42px);
    line-height: 20px;
    font-weight: 600;
    background: url(../images/ic_form.png) no-repeat 24px center;
    background-color: #ffca05;
    padding: 10px 15px !important;
    transform-origin: right top;
    transform: rotate(-90deg);
    transition: .5s;
    z-index: 100;
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}



/* Forms */
.form-control {
    font-size: 14px;
    border-radius: 0px;
    border: 1px solid #2b287352;
}
.form-control:focus {
   
    border-color: #2b28738f;
    box-shadow: 0 0 0 0.2rem rgb(43 40 115 / 15%);
}
.enquire-now-form.out {
    right: -280px;
}
.form-group label {
    margin-bottom: 0px;
    font-size: 14px;
}

/* About Graphics */
.about-graphics.right::before {
    left: auto;
    right: 0px;
}
.about-graphics::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 75%;
    background-color: #2b2873;
    left: 0px;
    top: 0px;
}

.about-graphics .about-bg-circle {
    left: 37%;
    height: 95%;
    top: 0;
}
.about-graphics.right .about-bg-circle {
    right: 37%;
    left: auto;
}





/* Banner Section */
.page-header{
    z-index: 1000;
}
.banner-img{
    top:0;
    left: 0px;
}
.banner-links {
    bottom: 0px;  
}
section.section.hero-section{
    padding: 0px !important;
}
.banner-links a {
    color: black;
    background-color: #ffca05;
    display: inline-block;
    padding: 8px 20px;
    font-size: 25px;
    width: 100%;
}
.hero-slider-item{
  height:calc(100vh - 108px) ;
  margin-top: 108px;
}


.banner-aside {
    right: 0px;
}
.banner-text {
    padding-left: 12%;
    position: relative;
    z-index: 10;
}


.hero-slider-item img{
    height: 100%;
}
.banner-text h2 {
    font-size: 3.4rem;
    font-weight: 900;
}

/* Page internal Banner, heading  */
.page-internal .banner-section{
    min-height: 350px;
}
.page-internal{
    padding-top: 105px;
}
.page-heading{
    left: 0;
    top: 0px;
}
.page-heading h1 {
    font-size: 4.5rem;
}
.page-internal .banner-section h1::after{
    content: "";
    width: 100px;
    display: block;
    height: 3px;
    margin-top: 5px;
    background-color: white;
}
.page-internal .banner-section h1{
  font-size: 50px;
}
.overlay{
    opacity: .8
}

/* sections */
.section-padder{
    padding: 80px 0px;
}
.section-heading h1{
    font-size: 3.5rem;
    line-height: 1;
}
.section-heading h1::before{
    content: "";
    position: absolute;
    width: 2px;
    background-color: #ffca05;
    height: 100%;
    left: 0px;
    top: 0px;
}
.line-heading::after{
    content: "";
    height: 1px;
    background-color: #211e5e;
    width: 100%;
}
.section-header .title{
    position: relative;
}
.section-header .title::after{
    content: "";
    width: 100px;
    display: block;
    height: 3px;
    margin-top: 10px;
}
.section-header .title.text-primary::after{
    background-color: #211e5e;
}
.section-header .title.text-secondary::after{
    background-color: white;
}





/* Testimonial */

.testimonial-thumb img {
    transform: scale(.9);
    position: relative;
    z-index: 1;
 
}
.testimonial-thumb {
    position: relative;
    padding-left: 48px;
    padding-right: 10px;
}
.testimonial-thumb::after {
    content: "";
    height: 100%;
    width: 54%;
    background-color: #ffca05;
    right: 0px;
    top: 0px;
    display: block;
    position: absolute;
}
.testimonial-thumb::before{
    content: "";
    height: 100%;
    width: 100%;
    background-image: url(../images/abstract_white_for-student.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    position: absolute;
    left: 0px;
    top: 0px;
}
.testimonial-quote{
    padding-bottom: 50px;
    padding-top: 50px;
}
.testimonial-quote::before, .testimonial-quote::after {
    content: "";
    position: absolute;
    height: 45px;
    width: 45px;
    background-image: url(../images/icon/quote.svg);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
    
}
.testimonial-quote::before{
    top: 0px;
    transform: rotate(180deg);
}
.testimonial-quote::after{
    bottom: 0;
    right: 0px;
}
.textimonial-items {
    min-height: 100vh;
    display: flex !important;
    align-items: center;
}
.testimonial-section .fp-tableCell{
    display: flex;
    align-items: center;
}




/* Slick Slider */
.slick-dots li button:before{
    display: none;
} 
.hero-slider .slick-dots{
    position: absolute;
    bottom: 12px;
    bottom: 25px;
}
.slick-dots li{
    width: auto;
    height: auto;
}
.slick-dots li button {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 1px 2px 3px #111111b0;
}
.slick-dots li.slick-active button{
    background-color: #ffca05;
}

@media(min-width:992px){
    .slick-control-col{
        order: -1;
    }
}

.slick-prev, .slick-next {
    color: #0d1f50 !important;
    height: 40px;
    width: 40px;
    border: 2px solid #0d1f50 !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 17px;
}
.slick-prev.white, .slick-next.white, 
.bg-primary .event-slider .slick-prev, .bg-primary .event-slider .slick-next{
    color: white !important;
    border: 2px solid white !important;
}
.slick-prev::before, .slick-next::before{
    display: none;
}
.arrow-light.slick-prev,.arrow-light.slick-next{
    color: white !important;
    border: 2px solid white !important;
}



/* Footer */
footer{
    background-color: #d6d6d6;
    border-top: 5px solid #ffca05;
}

.footer-links li a {
    position: relative;
    color: #2b2873;
    padding-left: 24px;
    display: block;
    font-size: 14px;
}
.footer-links li a::before {
    content: "";
    height: 2px;
    width: 13px;
    background-color: #2b2873;
    display: block;
    position: absolute;
    left: 0px;
    top: 9px;
}
.map-container{
    border-left: 1px solid #2b2873;
}
.course-list a{
    margin-bottom: 8px;
}
@media(max-width:992px){
    .map-container{
        border-top: 1px solid #2b2873;
        border-left: none;
        padding-top: 25px;
    }
}




/* Abstract Bg */
.light-abstract{
    background: url(../images/black-abstract_right.png)  no-repeat,
                 url(../images/black-abstract_left.png)  no-repeat;
    background-size: 20%,14%;
    background-position:right top, left bottom;
 }
 
 .dark-abstract {
     background: url(../images/white_abstract_right.png) no-repeat, url(../images/white_abstract_left.png) no-repeat;
     background-size: 18%, 15%;
     background-position: right top 110px,left bottom;
 }


 /* Discover Section */
.discover-thumb-item .caption {
    z-index: 1;
    bottom: 5px;
    left: 15px;
}
.discover-thumb-item .caption::before {
    content: "";
    height: 2px;
    width: 48px;
    background-color: white;
    display: block;
    margin-left: 3px;
    margin-bottom: 2px;
}
.discover-thumb-item img{
    transition: all ease-out 500ms;
}
.discover-thumb-item:hover img {
    transform: scale(1.1);
}

/* Popular Course Section */
.popular-course-item{
    transition: all ease-out 500ms;
}
.popular-course-item:hover{
    transform: scale(1.04);
}

.side-img {
    height: 31.5vh;
}
.center-img {
    height: 63vh;
}





/* Boxed Shadow */
.boxed-shadow::before{
    content: "";
    position: absolute;
    width: calc(100% - 30px) ;
    height: calc(100% - 30px);
    background-color: #211e5e;
    right: 0px;
    top: 0px;
}
.boxed-shadow{
    padding-top: 30px;
    padding-right: 30px;
}

/* Mission  */
.mission-section::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 30%;
    right: 0px;
    top: 0px;
    background-color:#ffca05 ;
}


/* Accordion Style1 */
.accordion.style1 .icon{
    padding-top: 8px;
    padding-right: 8px;
}
.accordion.style1 .icon > div{
    background-color:#ffca05 ;
    
}
.accordion.style1 .icon::before{
    content: "";
    position: absolute;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    background-color: #211e5e;
    right: 0px;
    top: 0px;
}
.accordion-header-title::before, .accordion-header-title::after{
    content: "";
    position: absolute;
    height:calc(100% - 10px) ;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-left: 0px;
}
.accordion-header-title::before{
    border-color: #211e5e;
    top: 0px;
    border-bottom: 0px;
    left: 0px;
}
.accordion-header-title::after{
    border-color: #ffca05;
    bottom: 0px;
    border-top: 0px;
    left: -8px;
}
.accordion-item button{
    outline: none;
}

.accordion-item .icon img {
    width: 25px;
}






/* Event & News Block */
.events-block .title h5 {
    padding: 6px 28px;
    margin-bottom: 20px;
}
.event-day {
    border-bottom: 7px solid #2b2873;
    align-self: flex-start;
    padding: 5px 11px;
    margin-right: 14px;
}

.event-day span {
    font-weight: 600;
    color: #2b2873;
    display: block;
    text-align: center;
    line-height: 18px;
}
.event-info h4 {
    font-size: 18px;
    font-weight: 700;
    color: #2b2873;
    margin-bottom: 2px;
}
.events-list li{
    margin-bottom: 15px;
}
.news-slider {
    top: 110px;
}
.events-block .title {
    margin-top: -40px;
    margin-bottom: 11px;
}
.events-block {
    margin-top: 16px;
}



/* Campus Drive Section */
.campus-drive{
    padding-top: 120px;
}
.student-placed-slider, .campus-drive-slider{
    max-width: 320px;
    margin: 0 auto;
}
.institute-slider .slick-track {
    display: flex !important;
  }
  
  .institute-slider  .slick-slide {
    height: auto;
  }

  .companies-slider{
      max-width: 850px;
  }





/* 
Section Backgrounds */
.highlight-section{
    background-image: url(../images/btech/highlight-bg.jpg);
    background-size: cover;
}
.eligibility-section{
    background-image: url(../images/btech/eligibility-bg.jpg);
    background-size: cover;
}
.affiliation-section{
    background-image: url(../images/admission/affiliation-bg.png);
    background-size: cover;
}
.hightlight-block{
    background-color: #5f64ad;
    border-radius: 10px;
}





/* Advisory Section */
.advisory-item .thumb img{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.advisory-item .thumb{
    position: relative;
}
.advisory-item .thumb::after {
    content: "";
    height: 100%;
    width: 6px;
    background-color: #ffca05;
    position: absolute;
    left: 14px;
    transform: skewX(-20deg);
}


/* Leadership */
.leadership-slider .slick-arrow {
    border: 0px !important;
}


/* Accordion */
.accordion-toogle-icon .btn-link{
    position: relative;
}
.accordion-toogle-icon .btn-link::after {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    z-index: 1000;
    font-size: 13px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: white;
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion-toogle-icon .btn-link.collapsed::after{
    content: "\f068";
}



/*###############-------Contact Page------#################*/

.contact-form {
    background-color: #2b2873b5;
    position: relative;
    z-index: 1;
    backdrop-filter: saturate(180%) blur(2px);
    padding: 60px 45px;
}
.map-box{
    position: relative;
    height: 400px;
}
@media(min-width:992px){
    .map-box{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .contact-form {
        max-width: 550px;
    }
}


/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*/
.nav-pills-custom .nav-link {
    color: #2b2873;
    background: #ffca05;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #2b2873;
    background: #ffca05;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #ffca05;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

/* Step Wizard */


.step-wizard .nav-pills .nav-link.active{
    background-color: transparent;
}
.step-wizard .nav-pills .nav-link{
    color: white;
    font-size: 14px;
    position: relative;
}
.step-wizard .nav-pills .nav-link span.step-count {
    width: 50px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    color: #2b2873;
    font-weight: 800;
    font-size: 28px;
    padding-top: 6px;
    margin-bottom: 15px;
    border: 6px solid #2b2873;
    box-shadow: 0px 0px 0px 1px white;
    position: relative;
    z-index: 1;
}
.step-wizard .nav-pills .nav-link.active span.step-count{
    background-color: #ffca05;
    box-shadow: 0px 0px 0px 1px #ffca05;
}
.solution-icon img {
    max-height: 60px;
    object-fit: contain;
}

.step-wizard .nav-pills .nav-link:not(:first-child)::before {
    background: #ffca05;
    content: "";
    height: 1px;
    left: -50%;
    position: absolute;
    top: 30px;
    width: 100%;
}

.step-wizard .nav-pills{
    max-width: 800px;
}
.solution-item{
    max-width: 900px;
    display: flex;
}
.solution-icon{
    padding: 20px;
    position: relative;
    z-index: 100;
    align-self: center;
    transition: all ease-in-out 300ms;
}
.solution-item:hover .solution-icon{
   transform: scale(1.1);     
}
.left .solution-icon{
   
}
.right .solution-icon{
  
}
.solution-info{
    padding-top: 70px;
    padding-bottom: 70px;
}
.solution-info .rect{
    height: 100%;
    width: 200px;
    border: 15px solid #2b2873;
    position: absolute;
    top: 0px;
    
}
.right .solution-info .rect{
    right: -58px;
    border-left: 0px !important;
}
.left .solution-info .rect {
    left: -58px;
    border-right: 0px !important;
}
.solution-info .rect::before, 
.solution-info .rect::after{
    width: 15px;
    height: 20px;
    content: "";
    position: absolute;
    background-color: #2b2873;
    
}
.left .solution-info .rect::before, 
.left .solution-info .rect::after{
    right: 0;
}
.right .solution-info .rect::before, 
.right .solution-info .rect::after{
    left: 0;
}
.bg-primary .solution-info .rect {
    border: 15px solid white;

}
.bg-primary   .solution-info .rect::before, 
.bg-primary  .solution-info .rect::after{
    background-color:white
}
.solution-info .rect::before{
    bottom: 0px;
}
.solution-info .rect::after{
    top: 0px;
}
.solution-info-text{
    max-width: 700px;
}
.left .solution-info-text {
    padding-left: 12%;
}
.right .solution-info-text {
    padding-right: 12%;
}


.vacancies-section{
    background-image: url(../images/career/vacancies-bg.png);
    background-size: cover;
}

.filter-button:hover{
    background-color: #ffca05;
}

.leave-detail-section {
    background-image: url(../images/career/contact.png);
    background-size: cover;
}

.event-item-body {
    box-shadow: 1px 2px 6px #d7d7d7;
}


.gallery-section{
    background-image: url(../images/campus-life/gallery-bg.png);
    background-size: cover;
}
.gallery-items-block{
    position: relative;
}
.gallery-items-block a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.705);
    opacity: 0;
    transform: scale(0);
    transition: all ease-in-out 300ms;
}
.gallery-items-block a:hover::after{
    opacity: 1;
    transform: scale(1);
    cursor: url('../images/campus-life/zoom-in.svg'), default !important;
}
.fancybox-bg {
    background: #040320fc;
}
.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
    color: #2b2873;
}
.fancybox-button {
    background: #ffca05;
}
.gallery-filter .filter-button {
    border-radius: 30px;
    padding: 6px 22px;
    margin-left: 5px;
    margin-right: 5px;
}

.pagination .page-item {
    margin-right: 14px;
}

.pagination .page-item .page-link {
    border: 1px solid #2b2873;
    color: #2b2873;
    border-radius: 6px;
}

@media(min-width:768px){
    .latest-news-block ul {
        height: 600px !important;
        position: relative;
    }
}
.list-group-item{
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.list-group-item:last-child{
    border-bottom: 0px;
}
.list-group{
    border: 1px solid rgba(0,0,0,.125);
}



.slick-slide .company-item img{
    transition: all 0.7s ease;
    transform:rotateX(-180deg);
    perspective:7000px;
    opacity:0;
  }
  .slick-active .company-item img{
     transform:rotatey(0);
    opacity:1;
  }

.dropdown-menu .has-submenu{
    position: relative;
}
.dropdown-menu .has-submenu::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid transparent;
    border-right: 0;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
}

.table {

}
.table-bordered td {
    border: 1px solid #ffca05;
}
.table thead th {
    background-color: #ffca05;
    font-size: 13px;
}

.table tbody td {
    font-size: 13px;
}

.tab-heading.section-heading h1 {
    font-size: 2.7rem;
}

.course-tab .nav-item .nav-link {
    color: #202020;
    font-size: 14px;
    padding: .75rem 1.25rem;
}
.course-tab .nav-item .nav-link.active {
    color: #ffca05;
    position: relative;
}
.course-tab .nav-item .nav-link.active::before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #ffca05;
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

.course-tab-content{
    position: sticky;
    top: 150px;
}
.newsticker-wrapper{
    height:250px;
}
  .newsticker-wrapper .mask {
    position: relative;
    left: 0px;
    top: 10px;
    height:250px;
    overflow: hidden;
  }
  .newsticker-wrapper ul {
    position: relative;
  }
  .events li{
      border-bottom: 1px dotted #2b2873;
    padding-bottom: 7px;
  }